body{
  background-image: url("../img/bgcrypt.jpg");
  background-size:    cover;
  background-repeat:  no-repeat;
}

iframe {
  width: 650px;
  height: 550px;
}

ul {
  list-style-type: none;
  width: 200px;
  background-color: #f1f1f1;
  margin-top: -270px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 4px;
  text-decoration: none;
}
      
li a:hover {
  background-color: #555;
  color: white;
}

div{
  background-color: white;
  width: 950px;
  margin: auto;
}

table.body{
  margin: auto;
}