<head>
  	<title>Analysis Vigenere Key</title>
  </head>
  <center>
  <body>
  	<table align="center">
      <tr><td colspan="2"><h2>Analysis Vigenere Key</h2></td></tr>
      <tr>
      	<td>Text : </td>
        <td><input type="text" name="text" id="input_text"></td>
      </tr>
      <td colspan="2" align="center">
          <br><input type="submit" value="Analysis" onClick="decrypt_key()">
        </td>
      </tr>
      <tr><td colspan="2"><p>** Output is only lower text **</p></td></tr>
      <tr><td colspan="2"><p>** Analysis for key = 5 characters **</p></td></tr>
    </table>
    <p id="vigenerekey"></p>

    <script>
      
      function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
      }

      function decrypt_key(){
        text = document.getElementById("input_text").value;
        document.getElementById("vigenerekey").innerHTML = "";
        var str = text.replace(/\s+/g, '');
        var word = str.toLowerCase();
        var cipher_text1 = [];
        var cipher_text2 = [];
        var cipher_text3 = [];
        var cipher_text4 = [];
        var cipher_text5 = [];
        var cnt_num = 0;
        for(var i = 0; i < word.length; i++){
          if(isNumeric(word[i])){
            cnt_num++;
            continue;
          }
            if((i-cnt_num)%5==0){
              cipher_text1.push(word[i]);
            }
            else if((i-cnt_num)%5==1){
              cipher_text2.push(word[i]);          
            }
            else if((i-cnt_num)%5==2){
              cipher_text3.push(word[i]);
            }
            else if((i-cnt_num)%5==3){
              cipher_text4.push(word[i]);
            }
            else if((i-cnt_num)%5==4){
              cipher_text5.push(word[i]);
            }
          }
          var key1 = find_key(count_char(cipher_text1)[1]);
          var key2 = find_key(count_char(cipher_text2)[1]);
          var key3 = find_key(count_char(cipher_text3)[1]);
          var key4 = find_key(count_char(cipher_text4)[1]);
          var key5 = find_key(count_char(cipher_text5)[1]);

          var key_analysis = key1+key2+key3+key4+key5;
          
          document.getElementById("vigenerekey").innerHTML = "<table><tr><th>Key from Calculate is</th><td>";
          document.getElementById("vigenerekey").innerHTML += key_analysis +"</td></tr>";

          document.getElementById("vigenerekey").innerHTML += "<br><br><tr><th>Index 1</th><td>";
          document.getElementById("vigenerekey").innerHTML += count_char(cipher_text1)[0]+"</td></tr>";

          document.getElementById("vigenerekey").innerHTML += "<br><br><tr><th>Index 2</th><td>";
          document.getElementById("vigenerekey").innerHTML += count_char(cipher_text2)[0]+"</td></tr>";

          document.getElementById("vigenerekey").innerHTML += "<br><br><tr><th>Index 3</th><td>";
          document.getElementById("vigenerekey").innerHTML += count_char(cipher_text3)[0]+"</td></tr>";

          document.getElementById("vigenerekey").innerHTML += "<br><br><tr><th>Index 4</th><td>";
          document.getElementById("vigenerekey").innerHTML += count_char(cipher_text4)[0]+"</td></tr>";

          document.getElementById("vigenerekey").innerHTML += "<br><br><tr><th>Index 5</th><td>";
          document.getElementById("vigenerekey").innerHTML += count_char(cipher_text5)[0]+"</td></tr></table>";
      }

      function find_key(character){
        var chara = character;
        var number = 0;
        var all_character = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'];
        for(var i=0; i<all_character.length; i++){
          if(chara == all_character[i]){
            number = i-4;
          }
        }
        return all_character[number];
      }

      function count_char(arraystr){
        arraystr.sort();
        var output = "";
        var current = null;
        var cnt = 0;
        var character = [];
        var number = [];
        for (var i = 0; i < arraystr.length; i++) {
          if (arraystr[i] != current) {
            if (cnt > 0) {
              character.push(current);
              number.push(cnt);
            }
            current = arraystr[i];
            cnt = 1;
          } else {
              cnt++;
          }
          if(i==arraystr.length && cnt>0){
            character.push(current);
            number.push(cnt);
          }
        }
        var maxchar = ""; 

        var firnum = indexOfMax(number);
        maxchar = character[firnum];
        output += "<br>Max Value is : " + character[firnum] + " - " + number[firnum] + " times<br>";
        removeA(number,number[firnum]);
        removeA(character,character[firnum]);

        var sndnum = indexOfMax(number);
        output += "Second Value is : " + character[sndnum] + " - " + number[sndnum] + " times<br>";
        removeA(number,number[sndnum]);
        removeA(character,character[sndnum]);

        var trdnum = indexOfMax(number);
        output += "Third Value is : " + character[trdnum] + " - " + number[trdnum] + " times<br>";
        removeA(number,number[trdnum]);
        removeA(character,character[trdnum]);

        var fohnum = indexOfMax(number);
        output += "Fourth Value is : " + character[fohnum] + " - " + number[fohnum] + " times<br>";
        removeA(number,number[fohnum]);
        removeA(character,character[fohnum]);

        var fihnum = indexOfMax(number);
        output += "Fifth Value is : " + character[fihnum] + " - " + number[fihnum] + " times<br>";

        return [output,maxchar];
      }

      function indexOfMax(arr) {
        if (arr.length == 0) {
          return -1;
        }

        var max = arr[0];
        var maxIndex = 0;

        for (var i = 1; i < arr.length; i++) {
          if (arr[i] > max) {
            maxIndex = i;
            max = arr[i];
          }
        }
        return maxIndex;
      }

      function removeA(arr) {
        var what, a = arguments, L = a.length, ax;
        while (L > 1 && arr.length) {
          what = a[--L];
          while ((ax= arr.indexOf(what)) !== -1) {
              arr.splice(ax, 1);
          }
        }
        return arr;
      }

    </script>
  </body>
</center>
</html>